:root {
  --slidev-theme-primary: #31e8ff;
  --slidev-code-background: #2e3440;
  --slidev-code-foreground: #d8dee9;
  --slidev-code-tab-text-color: #d8dee9;

  --slidev-code-font-size: 0.9rem;
  --slidev-code-line-height: 1.6;
}

.slidev-slide-content {
  background: url('/bg.png') no-repeat center center;
  background-size: cover;
  @apply text-white;
}

.slidev-layout {
  @apply px-12 py-6 w-full text-base;

  ol,
  ul {
    @apply mt-2 mb-0.5;
  }

  p + h2,
  ul + h2,
  ol + h2,
  table + h2 {
    @apply mt-10;
  }

  h1 {
    @apply text-3xl mb-4 text-primary font-black;
  }

  h2 {
    @apply text-2xl my-2 font-semibold;
  }

  h3 {
    @apply text-xl my-2;
  }

  h4 {
    @apply text-lg;
  }

  h5 {
    @apply text-base;
  }

  h6 {
    @apply text-sm pt-1 uppercase tracking-widest font-500 -ml-[0.05em];
  }

  h6:not(.opacity-100) {
    @apply opacity-40;
  }

  blockquote {
    @apply text-xl font-bold pl-4;
  }
}

.slidev-layout.cover,
.slidev-layout.intro {
  @apply h-full grid;

  h1 {
    @apply text-6xl leading-20;
  }
}

.slidev-layout.two-cols-header {
  @apply gap-x-4;
}

.slidev-layout.fact {
  @apply text-center grid h-full;

  h1 {
    @apply text-8xl font-700;
  }
  h1 + p {
    @apply font-700 text-2xl;
  }
}
.slidev-layout.statement {
  @apply text-center grid h-full;

  h1 {
    @apply text-6xl font-700;
  }
}
.slidev-layout.quote {
  @apply grid h-full;

  h1 + p {
    @apply mt-2;
  }
}
.slidev-layout.section {
  h1 {
    @apply text-4xl font-500 leading-20;
  }
}
.slidev-layout.center {
  @apply text-center;

  h1 {
    @apply text-6xl font-bold mb-8;
  }
}

.slidev-code-wrapper,
.slidev-code {
  max-height: 400px;
  overflow: auto;

  code,
  pre {
    line-height: 1.7 !important;
  }

  &::-webkit-scrollbar {
    height: 0px;
    width: 4px;
    background: var(--slidev-code-foreground);
  }

  &::-webkit-scrollbar-thumb {
    background: white;
  }
}

.slidev-code-wrapper > .slidev-code {
  max-height: initial;
}
