.font-antonio {
  font-family: 'antonio', sans-serif;
}

:root {
  --primary: #31e8ff;
  --secondary: #fdd321;
  --mute: #78909c;
  --primary-highlight: #134f5c;
  --secondary-highlight: #8f7b31;
  --card-background: #333340;

  --slidev-theme-primary: var(--primary);

  --slidev-code-background: #2e3440;
  --slidev-code-foreground: #d8dee9;
  --slidev-code-tab-text-color: #d8dee9;

  --slidev-code-font-size: 0.9rem;
  --slidev-code-line-height: 1.6;
  --slidev-code-padding: 0.75rem 1rem;
}

.slidev-slide-content {
  background: url('/bg.png') no-repeat center center;
  background-size: cover;
  @apply text-white;
}

/* Layout */
.slidev-layout {
  @apply px-12 py-8 w-full text-base text-pretty;

  * {
    transition: all 0.2s ease-in-out;
  }

  ol,
  ul {
    @apply mt-2 mb-0.5;
  }

  p + h2,
  ul + h2,
  ol + h2,
  table + h2 {
    @apply mt-10;
  }

  strong {
    @apply relative text-[var(--secondary)];

    /* &::before {
      content: '';
      @apply absolute inset-x-0 top-3.5 bottom-0.5 bg-[var(--secondary-highlight)] -z-10;
    } */
  }

  h1 {
    @apply text-[2rem] mb-4 text-primary font-black;
  }

  h2 {
    @apply text-2xl my-2 font-semibold;
  }

  h3 {
    @apply text-xl my-2;
  }

  h4 {
    @apply text-lg;
  }

  h5 {
    @apply text-base;
  }

  h6 {
    @apply text-sm pt-1 uppercase tracking-widest font-500 -ml-[0.05em];
  }

  h6:not(.opacity-100) {
    @apply opacity-40;
  }

  blockquote {
    @apply text-xl font-bold pl-4;
  }
}

.slidev-layout.cover {
  @apply flex flex-col items-center justify-center text-center;

  h1 {
    @apply text-7xl font-black mb-8;
  }

  h2 {
    @apply text-4xl font-bold mb-8;
  }
}

.slidev-layout.section {
  h1 {
    @apply text-4xl font-500 leading-20;
  }
}

.slidev-layout.center {
  @apply text-center;

  h1 {
    @apply text-7xl font-black mb-8;
  }

  h2 {
    @apply text-4xl font-bold mb-8;
  }
}

.slidev-layout.two-cols-header {
  @apply gap-x-4;
}

/* Code */
.slidev-code-wrapper {
  @apply rounded-lg;
}

.slidev-code-wrapper,
.slidev-code {
  max-height: 400px;
  overflow: auto;

  &::-webkit-scrollbar {
    height: 0px;
    width: 4px;
    background: var(--slidev-code-foreground);
  }

  &::-webkit-scrollbar-thumb {
    background: white;
  }
}

.slidev-code-wrapper > .slidev-code {
  max-height: initial;
}

/* Components */

.card {
  ul,
  li {
    line-height: 2;
  }
}
